@import '~bootstrap/scss/bootstrap';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

* {
font-family: "Montserrat', sans-serif";
}

.card-title {
    font-size: 50px;
    font-family: 'Bungee Shade', cursive;
}

.card-text {
    font-size: 35px;
}

#change {
    font-family: 'Bungee Shade', cursive;
    color: rgb(255, 255, 255);
}

#signIn {
    font-family: 'Bungee Shade', cursive;
    color: rgb(255, 255, 255);
}

#signUp {
    font-family: 'Bungee Shade', cursive;
    color: rgb(255, 255, 255);
}

.title {
font-family: 'Bungee Shade', cursive;
position: relative;
background-color: rgb(135, 206, 235);
color: rgb(255, 255, 255);
padding: 20px;
margin-top: 20px;
font-size: 1.8em;
border-radius: 5px;
}

.question {
font-size: 1.2em;
margin-bottom: 5px;
}

.questionBox {
position: relative;
border: 5px solid rgba(0, 0, 0, 0.2);
margin-top: 5px;
padding: 15px;
box-sizing: border-box;
background-color: rgb(250, 250, 250);
}

#deleteBtn {
    position: relative;
    display: inline-block;
    font-size: 1em;
    width: 15%;
    cursor: pointer;
    }

.answerBtn {
position: relative;
padding: 10px;
display: inline-block;
margin: 10px;
font-size: 1em;
border-radius: 4px;
cursor: pointer;
}

.score-board {
position: relative;
height: 700px;
}

.score {
font-family: 'Bungee Shade', cursive;
color: rgb(255, 255, 255);
width: 100%;
font-size: 3em;
top: 250px;
margin: 30px;
text-align: center;
}

.playBtn {
font-size: 1.4em;
padding: 10px;
top: 350px;
background-color:rgb(255, 182, 193);
border-radius: 12px;
color: rgb(255, 255, 255);
width: 150px;
margin: auto;
outline: none;
cursor: pointer;
transition-duration: 0.4s;
}

.playBtn:hover {
background-color: lightgreen;
color: white;
}

#yourQuestion {
    font-family: 'Bungee Shade', cursive;
    color: rgb(255, 255, 255);
    font-size: 2em;
    width: 40px;
}

#createdQuestion {
    font-family: 'Bungee Shade', cursive;
    color: rgb(255, 255, 255);
    font-size: 2em;
    width: 40px;
}
